/* add css module styles here (optional) */

.qr_text {
  font-size: 1em;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: auto;
  user-select: none;

}

.sequenceNumberText {
  font-size: 1em;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.generated_qr_code {
  padding: 20px;
  background-color: white;
  cursor: pointer;
}

.qr_icon {
  cursor: pointer;
}